<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <!-- Open Graph Metadata -->
    <meta property="og:title" content="Semantic HTML - Starter Markup">
    <meta property="og:description" content="Un documento de inicio para crear páginas HTML semánticas con buenas prácticas. Incluye ejemplos y referencias.">
    <meta property="og:url" content="https://juanfuent-es.github.io/centro-template/">
    <meta property="og:type" content="website">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>